/* BigBrassBand 2022 */
/* shan */
/* intended for WP dark mode */
/* updated 05.17.2022 */

.bbb-callout {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 0px;
  letter-spacing: -0.005em;
  margin: 20px auto 24px auto;
  width: 100%;
  min-width: 200px;
  padding: 10px;
  min-height: 30px;
  border: 2px solid rgba(222, 222, 222, 0.3);
  text-indent: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  border-radius: 5px; }

  .bbb-callout .irow {
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 30px;
    height: 100%; }
  .bbb-callout .ilogobox {
    display: table-cell;
    text-align: center;
    padding: 5px 0 0 1px;
    vertical-align: top;
    width: 28px; }
  .bbb-callout .imsgbox {
    display: table-cell;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-left: 10px;
    text-align: left;
    word-break: break-word;
    vertical-align: middle;
    color: #1C1C1C !important; }
  .bbb-callout .imsgbox .title {
    font-weight: bold;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 2px;
    margin-bottom: 5px;
      border-color: #ccc; }
  .bbb-callout .irow .imsgbox code {
    font-size: 16px;
    word-break: break-all;
    text-align: left; }
.bbb--info { /* infos */
  background-color: rgb(200, 215, 254); }
.bbb--note { /* notes */
  background-color: rgb(161, 234, 242); }
  .bbb--note2 { /* conf note */
    background-color: rgb(234, 229, 254); }
.bbb--tip { /* tips */
  background-color: rgb(227, 252, 239); }
.bbb--alert { /* alertx */
  background-color: rgb(255, 251, 231); }
.bbb--error {
  background-color: rgb(255, 235, 230); }

.bbb-callout .logoimg {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 20px 20px; }

.bbb--info .logoimg { background-image: url(bbb-info-20.png); }
.bbb--note .logoimg { background-image: url(bbb-note2-20.png); }
.bbb--note2 .logoimg { background-image: url(bbb-note-20.png); }
.bbb--tip .logoimg { background-image: url(bbb-tips2-20.png); }
.bbb--alert .logoimg { background-image: url(bbb-alert-20.png); }
.bbb--error .logoimg { background-image: url(bbb-error-20.png); }

.bbb-callout .level2 {
    padding-left: 80px; }
.bbb-callout .level3 {
    padding-left: 120px; }
.bbb-callout .nextpara:last-child {
    margin-bottom: 0px; }
.bbb-callout .nextpara {
  margin-top: 5px;
  padding-top: 8px; }
